In [1]:
import numpy as np
import pandas as pd

In [2]:
label = ['USA', 'Japan', 'Russia', 'Germany']
index = [1,2,3,4]

In [3]:
ser1 = pd.Series(index,label)

In [4]:
ser1

USA        1
Japan      2
Russia     3
Germany    4
dtype: int64

In [5]:
label2 = ['USA', 'Japan', 'Italy', 'Germany']
index2 = [1,2,5,4]

In [6]:
ser2 = pd.Series(index2,label2)

In [7]:
ser2

USA        1
Japan      2
Italy      5
Germany    4
dtype: int64

In [9]:
ser1[2]

3

In [10]:
ser1 + ser2

Germany    8.0
Italy      NaN
Japan      4.0
Russia     NaN
USA        2.0
dtype: float64

## DataFrames

In [13]:
# keeping the seed fixed for getting the same results for each run
np.random.seed(42)

In [17]:
df = pd.DataFrame(data=np.random.randn(5,4), index=['A', 'B', 'C', 'D', 'E'], columns=['W', 'X', 'Y', 'Z'])

# np.random.randn(5,4)

In [18]:
df

          W         X         Y         Z
A  0.738467  0.171368 -0.115648 -0.301104
B -1.478522 -0.719844 -0.460639  1.057122
C  0.343618 -1.763040  0.324084 -0.385082
D -0.676922  0.611676  1.031000  0.931280
E -0.839218 -0.309212  0.331263  0.975545

In [19]:
df['W']

A    0.738467
B   -1.478522
C    0.343618
D   -0.676922
E   -0.839218
Name: W, dtype: float64

In [20]:
type(df['W'])

pandas.core.series.Series

## Conditional Selection

In [23]:
df

          W         X         Y         Z
A  0.738467  0.171368 -0.115648 -0.301104
B -1.478522 -0.719844 -0.460639  1.057122
C  0.343618 -1.763040  0.324084 -0.385082
D -0.676922  0.611676  1.031000  0.931280
E -0.839218 -0.309212  0.331263  0.975545

In [24]:
booldf = df > 0

In [25]:
df[booldf]

          W         X         Y         Z
A  0.738467  0.171368       NaN       NaN
B       NaN       NaN       NaN  1.057122
C  0.343618       NaN  0.324084       NaN
D       NaN  0.611676  1.031000  0.931280
E       NaN       NaN  0.331263  0.975545